@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;

}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
a{
  text-decoration: none;
  color: gray;
}

ul, ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  
}
.left-links{
  display: flex;
  gap: 10px;
  
}
.right-links{
  display: flex;
  gap: 10px;
}

.content{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px;
}
.footer{
  display: flex;
  background-color:whitesmoke;
  align-items: flex-end;
  justify-content: space-between;
}


